<%- include('header') %>
<h2>Thêm người dùng mới</h2>
<form action="/users/add" method="POST">
    <label for="username">Tên người dùng:</label>
    <input type="text" name="username" required>

    <label for="password">Mật khẩu:</label>
    <input type="password" name="password" required>

    <label for="fullname">Họ tên:</label>
    <input type="text" name="fullname" required>

    <label for="address">Địa chỉ:</label>
    <input type="text" name="address" required>

    <label for="sex">Giới tính:</label>
    <input type="text" name="sex" required>

    <label for="email">Email:</label>
    <input type="email" name="email" required>

    <button type="submit">Thêm</button>
</form>
<%- include('footer') %>
